*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mycal{
  align-items: center;
  justify-content: center;
  display:inline-block;
  text-align: center;
  margin: 100px;
  margin-left: 600px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  }

.display{
 
  line-height: 60px;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 10px;
  width:310px;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  padding:5px;
}

.buttons{
  margin-top: 20px;
  display: grid;
  width:max-content;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  background-color: black;
  
}
.buttons button{
  font-size: 25px;
  width:70px;
  height:70px;
  border-radius:50%;
  
  }

.buttons button:hover {
    background-color: rgb(227, 104, 104);
    color: #ffffff;
    cursor:pointer;
    }
